section.first
    img.first__background(src=require('./first.jpg').default)
    .container
        .row
            .first__col.col-xs-12.col-md-6
                .first__container
                    img.first__thumbnail(src=require('./first-01.png').default)
                    div
                        span.first__numeral 26 330
                        p.first__body запасы на 2015 г.
            .first__col.col-xs-12.col-md-6
                .first__container
                    img.first__thumbnail(src=require('./first-02.png').default)
                    div
                        span.first__numeral M1400
                        p.first__body прочность
            .first__col.col-xs-12.col-md-6
                .first__container
                    img.first__thumbnail(src=require('./first-03.png').default)
                    div
                        span.first__numeral 40 лет
                        p.first__body до полной отработки
            .first__col.col-xs-12.col-md-6
                .first__container
                    img.first__thumbnail(src=require('./first-04.png').default)
                    div
                        span.first__numeral >F300
                        p.first__body морозостойкость
