extends ../../main.pug

block variables
    - var bodyClass = 'news-article'

block breadcrumbs    
    +breadcrumbs('Новости и статьи', {href: 'home.html', name: 'Главная'}, { href: '#', name: 'О ПЩЗ'})

block main
    div.container
        div.row
            div.col-xs-12
                article.article
                    div.article__heading-line
                        h1 Проведена модернизация производственных мощностей
                        a.button.article__button-back(href='news.html') Назад
                    img.article__image.article__image_left(src=require('../../assets/article-01.jpg').default style="margin-top: 0; max-width: 299px")
                    p Гранитная крошка представляет собой тот же самый гранитный щебень с очень маленькими размерами зерен.
                    p Технология ее производства такая же, как и технология производства гранитного щебня, просто дробильная машина настраивается на получение малой фракции материала.
                    h3 Технология производства
                    p Изначально на переработку поступают большие глыбы гранита. На дробильных машинах их первым делом перерабатывают на гранитный щебень заданной фракционности. В процессе дробления образуются более мелкие куски гранита, Их сортируют по фракционности методом просеивания. Оставшиеся мелкие кусочки гранита снова дробятся до фракционности 2-5 мм. Таким образом получается гранитная крошка.
                    h3 Технические характеристики гранитной крошки
                    p Поверхность зерен гранитной крошки шероховатая, но прочность их от этого не уменьшается.
                    div.article__image_right
                        img.article__image(src=require('../../assets/article-02.jpg').default)
                        img.article__image(src=require('../../assets/article-03.jpg').default)
                    p Прочность зерен гранитной крошки очень высокая. При статической механической нагрузке они сохраняют целостность при давлении 1 200 кг/см2.
                    p Показатель просеивания ситом у гранитной крошки равен 0,16.
                    p Показатель модуля по размеру  0/5, 2/5, 3/10. Вес одного кубометра гранитной крошки составляет 1 370 кг. Материал очень устойчив к износу. Этот показатель составляет И-1.
                    h3 Где используется гранитная крошка
                    p Чаще всего гранитную крошку используют в качестве противогололедного средства. Ею посыпают обледенелые участки дорог и тротуаров. В отличие от химических реагентов, гранитная крошка не оказывает разрушительного воздействия на покрышки автомобильных колес и на обувь пешеходов. Немаловажно и то, что ее можно использовать многократно. После очистки улиц и тротуаров, собранный мусор можно просеивать и таким образом отделить гранитную крошку для повторного использования.
                    p В нашей стране на трассах федерального значения запрещено использовать другую противоголололедную посыпку, кроме гранитной крошки. 
                    p На втором месте по востребованности гранитной крошки находятся водоочистные станции. Здесь крошка используется в качестве механического фильтра очистки воды. Гранитный отсев позволяет удерживать в себе механические примеси и при этом не задерживать ток воды.
                    p Также гранитная крошка используется при изготовлении бетонных конструкций с высокой прочностью. Такие изделия стоят намного дороже. Кроме высокой прочности, они обладают абсолютной влагонепроницаемостью.
                    p Также гранитная крошка используется в парковом хозяйстве и ландшафтном дизайне. Ею посыпают дорожки.
                    p Иногда гранитной крошкой декорируют жилые или офисные помещения.
                    p При производстве полимерных половых покрытий в качестве добавки к массе используют и гранитную крошку. Это делается, когда требуется получить особо прочное половое покрытие.
                    p Это же самое делается и при изготовлении тротуарной плитки повышенной прочности.
                    p Реже ее добавляют в асфальт. Точнее сказать, это делается только на очень ответственных участках дорог, где необходима максимальная прочность дорожного покрытия.
                    div.article__image_left
                        img.article__image(src=require('../../assets/article-04.jpg').default)
                        img.article__image(src=require('../../assets/article-05.jpg').default)
                    h3 Гранитная крошка в качестве противогололедного средства
                    p Гранитная крошка обладает высочайшей прочностью и морозостойкостью. Именно поэтому ее можно использовать в качестве посыпки дорог множество раз. Ни один искусственные реагент использовать дважды просто невозможно, гранитную же крошку после промывки можно использовать десятки раз подряд. При этом ее физические свойства никак не изменяются.
                    p Шероховатость зерен гранитной крошки в десятки раз выше, чем у мраморного песка. Степень абразивности этого материала настолько высока, что на обледенелых участках дорог, посыпанных гранитной крошкой, скольжение, просто отсутствует. Так обеспечивается безопасность движения на обледенелых участках дорог и тротуаров.
                    p По причине высокой стоимости гранитной крошки ее посыпают только особо опасные места дорог. На трассах это крутые повороты, а на тротуарах это места с большим потоком пешеходов.
                    p Также гранитная крошка используется при изготовлении бетонных конструкций с высокой прочностью. Такие изделия стоят намного дороже. Кроме высокой прочности, они обладают абсолютной влагонепроницаемостью..
                    p Также гранитная крошка используется в парковом хозяйстве и ландшафтном дизайне. Ею посыпают дорожки.
                    p Иногда гранитной крошкой декорируют жилые или офисные помещения.
                    p При производстве полимерных половых покрытий в качестве добавки к массе используют и гранитную крошку. Это делается, когда требуется получить особо прочное половое покрытие.
                    p Это же самое делается и при изготовлении тротуарной плитки повышенной прочности.
                    p Реже ее добавляют в асфальт. Точнее сказать, это делается только на очень ответственных участках дорог, где необходима максимальная прочность дорожного покрытия.
