extends ../../main.pug

block variables
    - var bodyClass = 'how-to-buy'

block breadcrumbs    
    +breadcrumbs('Как купить', {href: 'home.html', name: 'Главная'})

block main
    section.how-to-buy
        .container
            .row
                .col-xs-12
                    article.article
                        h2 Схема сделки:
                        ul
                            li Выбор нужного товара в <a href="catalog.html">каталоге</a>
                            li Общение <a href="contacts.html">с нашим менеджером</a> для уточнения деталей заказа, обсуждения условий и составления заявки
                            li Выбор удобного способа доставки
                            li Заключение 
                                a(href=require('./doc.docx').default download target='_blank') договора поставки
                            li Оплата по договору
                        div.article__image_right
                            img.article__image(src=require('./how-to-buy-02.jpg').default)
                            img.article__image(src=require('./how-to-buy-01.jpg').default)
                        h2 Оплата:
                        p Оплата безналичным платежом осуществляется после заключения договора.
                        p Реквизиты для платежа и информация для составления договора указана в 
                            a(href=require('./card.pdf').default download target='_blank') карточке предприятия.
                        h2 Доставка:
                        h3 Железнодорожная
                        ul
                            li Собственные подъездные пути
                            li Пропускная способность – 100 вагонов в сутки (6 800 т)
                            li Новейшее весовое оборудование (до 150 т)
                            li Автоматизированная конвейерная верхняя загрузка полувагонов
                        p Для транспортировки готовой продукции используется железнодорожный тупик протяженностью 1,5 км, проложенный к погрузочному цеху от железнодорожной  станции Теплая Гора, возможность отгрузки в сутки составляет до 7 тысяч тонн.
                        p Погрузочный цех оборудован железнодорожными и автомобильными весами. Удачное расположение карьера на границе Пермского края позволяет осуществлять поставки в соседние регионы.
                        p Транспортное плечо при поставах в Удмуртскую республику, Кировскую область, Республику Татарстан, Нижегородскую область дает конкурентные преимущества перед традиционными поставщиками из Свердловской и Челябинской областей.
                        h3 Автотранспортная
                        img.article__image(src=require('./how-to-buy-03.jpg').default)
                        p На территории карьера смонтированы крупнотоннажные весы для взвешивания автомобилей типа «Тонар» грузоподъемностью до 100 тонн, полностью налажен автоматический учет и выписка документов для ускорения отгрузки. Доставка автотранспортом позволяет доставить продукцию клиентам не имеющих собственных подъездных ЖД путей
